// Put your custom SCSS code here
.content .svg-inline {
    margin-bottom: .5rem;
}

.avatar {
    border-radius: 50%;
    box-shadow: 0 0 40px 6px rgba(0, 0, 0, 0.3);
}

.bio {
    margin-top: 2rem;
    position: relative;
}

img {
    height: auto;
}


